.better-wiki{
    &.rtl{
        .toc{
            left: 0px;
        }
    }

    &.ltr{
        .toc{
            right: 0px;
        }
    }

    #bodyContent{
        width: 70%;
    }
    
    .toc{
        position: fixed;
        height: 50%;
        bottom: 25%;
        width: 25%;
        display: block;
        overflow: auto;
    }
}
